# ===== Python / Django =====
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
.eggs/
dist/
build/
env/
.benv/
.venv/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*
*.whl
*.egg

# Migrations locales (Django)
db.sqlite3
db.sqlite3-journal

# ===== Entornos virtuales =====
backend/venv/

# ===== Variables de entorno / Secretos =====
.env
.env.*
!.env.example
*.pem
*.key

# ===== Flutter / Dart =====
# frontend/bitacoras_app/
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.flutter-plugins
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# ===== Archivos de sistema =====
.DS_Store
Thumbs.db
Desktop.ini
*.swp
*.swo
*~
*.log
*.tmp